caption {
   background-color: #222;     
   color: white;               
   font-family: "Trebuchet MS", Arial, sans-serif;
   border-radius: 10px;         
   padding: 10px;
   font-size: 1.4em;
   margin-bottom: 10px;
}




th, td {
   text-align: center;          
   vertical-align: middle;     
   width: 10%;                 
   margin: 2%;                 
   padding: 2%;                 
   border: 5px outset #969696;     
}




td:first-child {
   background-color: navy;      
   color: white;                
}




thead > tr:first-child > th {
   background-color: #6fa8dc;   
   color: white;                
   border-radius: 10px;        
}




thead > tr:first-child > th:first-child {
   background-color: white;     
   border: none;
}




.aplicaciones_web { background-color: #f79a9a; }
.sor         { background-color: #d9ead3; }
.sred       { background-color: #fff2cc; }
.ingles         { background-color: #d47272; }
.python          { background-color: #ead1dc; }
.seguridad          { background-color: #cfe0e8; }
.fol           { background-color: #ffe599; }
.digitalizacion  { background-color: #b4a7d6; }
.sosten        { background-color: #a2c4c9; }   
.recreo { background-color: #98ffff; }

td:hover {
   filter: brightness(90%);     
   cursor: pointer;
}




td span {
   visibility: hidden;          
}


td:hover span {
   visibility: visible;        
}


td span a {
   color: #111;
   text-decoration: none;
   font-weight: bold;
}




.recreo:hover {
   background-color: #a39363;   
}


