caption {
   background-color: #222;     
   color: white;               
   font-family: "Trebuchet MS", Arial, sans-serif;
   border-radius: 10px;         
   padding: 10px;
   font-size: 1.4em;
   margin-bottom: 10px;
}




th, td {
   text-align: center;          
   vertical-align: middle;     
   width: 10%;                 
   margin: 2%;                 
   padding: 2%;                 
   border: 5px outset #999;     
}




td:first-child {
   background-color: navy;      
   color: white;                
}




thead > tr:first-child > th {
   background-color: #6fa8dc;   
   color: white;                
   border-radius: 10px;        
}




thead > tr:first-child > th:first-child {
   background-color: white;     
   border: none;
}




.aplicaciones_web { background-color: #ffffff; }
.entornos         { background-color: #d9ead3; }
.despliegue       { background-color: #fff2cc; }
.servidor         { background-color: #f4cccc; }
.empresa          { background-color: #ead1dc; }
.cliente          { background-color: #cfe0e8; }
.recreo           { background-color: #ffe599; }


td:hover {
   filter: brightness(90%);     
   cursor: pointer;
}




td span {
   visibility: hidden;          
}


td:hover span {
   visibility: visible;        
}


td span a {
   color: #111;
   text-decoration: none;
   font-weight: bold;
}




.recreo:hover {
   background-color: #fff2cc;   
}


