footer{
    padding: 1em.5em;
    background: grey;
    color: white;
    text-align: right;
}
.dog-columnas{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}
       .container {
           display: grid;
           grid-template-rows: auto auto auto;
           grid-template-columns: 70% 30%;
           grid-template-areas:
               "cabecera cabecera"
               "main aside"
               "footer footer";
           width: 100%;
       }
         header {
              grid-area: cabecera;
              background-color: rgb(180, 216, 219);
              padding: 10px;
              text-align: center;
              font-size: 35px;
              font-weight: bold;
         }
         header img {
             width: 80px;
             height: 80px;
             border-radius: 50%;
             vertical-align: middle;
             margin-right: 20px;
         }