
        thead>tr:first-child>th:first-child{
            background-color: white;
        }
        
        caption {
            border: 1px solid black;
            background-color: aqua;
            color: rgb(0, 0, 0);
            padding: 5px;
            font-size: 30;
            font-weight: bold;
            border-radius: 20px;
            margin-bottom: 5px;
        }
        caption:hover {
        
            color: rgb(221, 19, 19);
            cursor: pointer;
        }

        th {
            background-color: rgb(80, 180, 184);
            color: rgb(8, 56, 99);
            
        }

        .barcelona {
            background-color: red;
        }

        td {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding: 10px;
            border: 3px outset
        }

        th {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        .serv {
            background-color: rgb(248, 99, 99);

        }
        .serv:hover {
            background-color: rgb(99, 14, 14);
            cursor: pointer;
        }

        .sor {
            background-color: rgb(255, 253, 150);
            text-align: center;
        }
        .sor:hover {
            background-color: rgb(99, 97, 20);
            cursor: pointer;
        }

        .py {
            background-color: rgb(153, 248, 144);

        }
        .py:hover {
            background-color: rgb(20, 77, 20);
            cursor: pointer;
        }

        .web {
            background-color: rgb(243, 183, 104);

        }
        .web:hover {
            background-color: rgb(99, 60, 20);
            cursor: pointer;
        }

        .lit {
            background-color: rgb(98, 192, 236);

        }
        .lit:hover {
            background-color: rgb(14, 54, 99);
            cursor: pointer;
        }

        .seguridad {
            background-color: rgb(169, 106, 250);

        }
        .seguridad:hover {
            background-color: rgb(48, 14, 99);
            cursor: pointer;
        }

        .ingles {
            background-color: rgb(255, 149, 214);

        }
        .ingles:hover {
            background-color: rgb(99, 14, 60);
            cursor: pointer;
        }

        .dig {
            background-color: rgb(134, 255, 189);

        }
        .dig:hover {
            background-color: rgb(14, 60, 37);
            cursor: pointer;
        }

        .sos {
            background-color: rgb(197, 187, 142);

        }
        .sos:hover {
            background-color: rgb(99, 91, 60);
            cursor: pointer;
        }

        .tut {
            background-color: rgb(167, 167, 167);

        }
        .tut:hover {
            background-color: rgb(60, 60, 60);
            cursor: pointer;
        }
        .horario{
            border-radius: 20px;
            background-color: rgb(33, 33, 238);
            color: white;
        }
        .horario:active{
            background-color: rgb(1, 22, 66);
            cursor: pointer;}
        .horario:hover{
            background-color: rgb(8, 56, 99);
            cursor: pointer;}



  