
        caption {
            border: 1px solid black;
            background-color: aqua;
            color: rgb(0, 0, 0);
            padding: 5px;
            font-size: 30;
            font-weight: bold;
            border-radius: 20px;
            margin-bottom: 5px;
        }
        caption:hover {
        
            color: rgb(221, 19, 19);
            cursor: pointer;
        }

        th {
            background-color: rgb(80, 180, 184);
            color: rgb(8, 56, 99);
            
        }

        .barcelona {
            background-color: red;
        }

        td {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding: 10px;
            border: 3px outset
        }

        th {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        .serv {
            background-color: rgb(248, 99, 99);

        }

        .sor {
            background-color: rgb(255, 253, 150);
            text-align: center;
        }

        .py {
            background-color: rgb(153, 248, 144);

        }

        .web {
            background-color: rgb(243, 183, 104);

        }

        .lit {
            background-color: rgb(98, 192, 236);

        }

        .seguridad {
            background-color: rgb(169, 106, 250);

        }

        .ingles {
            background-color: rgb(255, 149, 214);

        }

        .dig {
            background-color: rgb(134, 255, 189);

        }

        .sos {
            background-color: rgb(197, 187, 142);

        }

        .tut {
            background-color: rgb(167, 167, 167);

        }
        .horario{
            border-radius: 20px;
            background-color: rgb(33, 33, 238);
            color: white;
        }
        .horario:hover{
            background-color: rgb(8, 56, 99);
            cursor: pointer;}
        .espacio{
            background-color: white;
        }


  